* {
  margin: 0;
  padding: 0;
}

.text-responsive {
  font-size: 4vw;
  text-align: center;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 0.5rem;
  /* width: 100%; */
}

/* .btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 1rem;
} */

/* .btn:hover {
  opacity: 0.9;
} */

.page-info {
  margin-left: 35%;
}

.error {
  background-color: orangered;
  color: white;
  padding: 1rem;
}
